.page{
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
}
.applyGroupPage{
    /* text-align: center; */
    position: relative;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
}
.applyWrap{
    box-sizing: border-box;
    width: 900px;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.applyBox{
    box-sizing: border-box;
    display: table-cell;
    /* vertical-align: middle; */
    padding-top: 100px;
    padding-bottom: 20px;
}
.applyTitle{
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.groupList{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}